---
import button from "@chainlink/design-system/button.module.css"
import VideoPlayerIcon from "../assets/VideoPlayerIcon.astro"
import tutorialPreview from "../assets/video-preview.png"
import avatarAustin from "../assets/people/avatar-austin-griffith.png"
import avatarPatrick from "../assets/people/avatar-patrick-collins.png"
import avatarNader from "../assets/people/avatar-nader-dabit.png"
import { LinkTuple } from "../types"
import { clsx } from "~/lib"
const links = [
  ["Two-Minute Explainers", "#"],
  ["Chainlink Developer Workshops", "#"],
  ["Chainlink Engineering Tutorials", "#"],
  ["Solidity, Blockchain, and Smart Contract Python Course", "#"],
  ["Chainlink Engineering YouTube", "#"],
  ["Dapp University", "#"],
] as LinkTuple[]
const people = [
  {
    name: "Austin Griffith",
    image: avatarAustin,
    link: "",
  },
  {
    name: "Patrick Collins",
    image: avatarPatrick,
    link: "",
  },
  {
    name: "Nader Dabit",
    image: avatarNader,
    link: "",
  },
]
---

<div class="tutorials-cta">
  <div>
    <img class="videoPreview" src={tutorialPreview} />
  </div>
  <div class="cta-col">
    <h4>Watch tutorials</h4>
    <p>
      Learn more about the technology we are building. We're constantly
      uploading new videos to our YouTube channel.
    </p>
    <a
      class={clsx(button.primary, "cta-button")}
      href="#"
      style="display: inline-flex;"
    >
      <VideoPlayerIcon />
      Watch tutorials
    </a>
  </div>
  <div class="linklist">
    {links.map((link) => <a href={link[1]}>{link[0]}</a>)}
  </div>
  <div class="linklist">
    {people.map((people) => (
      <a href={people.link}>
        <img src={people.image} />
        {people.name}
      </a>
    ))}
  </div>
</div>

<style>
  .videoPreview {
    border-radius: 4px;
  }
  .tutorials-cta {
    background: var(--color-background-secondary);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4x);
    padding: var(--space-8x);
    border-radius: var(--border-radius-primary);
  }

  @media (min-width: 50em) {
    .tutorials-cta {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: var(--space-8x);
    }
  }

  .resources-cta div a {
    display: block;
    margin-top: var(--space-4x);
  }

  .resources-cta div a:first-child {
    margin-top: var(--space-0x);
  }

  .linklist a {
    margin-top: var(--space-4x);
    display: flex;
    align-items: center;
  }

  .linklist a:first-child {
    margin-top: var(--space-0x);
  }
</style>
