---
import { MarkdownHeading } from "astro"
import { QuickstartsFrontmatter } from "~/content/config"
import * as CONFIG from "../../config"

interface Props {
  frontmatter: QuickstartsFrontmatter
  headings: MarkdownHeading[]
}
const { frontmatter, headings } = Astro.props
const currentPage = new URL(Astro.request.url).pathname
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}${frontmatter?.isIndex ? "/index" : ""}.mdx`
const githubEditUrl = CONFIG.GITHUB_EDIT_URL + currentFile
---

<aside class="panel">
  <!-- TODO: Replace placeholder image -->
  <img src="https://globaleducationcoalition.unesco.org/uploads/326_Chainlink_color_logo_O1kmmQ.png" />
  <div class="description">
    <div><p>Chainlink Products:</p> <p><span>{frontmatter.products.join(", ")}</span></p></div>
    <div><p>Product Versions:</p> <p><span>{frontmatter.products.join(", ")}</span></p></div>
    <div><p>Required Time:</p> <p><span>{frontmatter.time}</span></p></div>
    {
      frontmatter.requires && (
        <div>
          <p>Requires: </p>
          <p>
            <span>{frontmatter.requires}</span>
          </p>
        </div>
      )
    }
    <div>
      <p>Docs references:</p>
      <ul>
        <span
          >{
            frontmatter.products.map((p) => (
              <a>
                <li style="line-height: 1.5;">{p}</li>
              </a>
            ))
          }</span
        >
      </ul>
    </div>
  </div>
  <!-- TODO: Add docs references -->
  <a href={githubEditUrl}>Open Github</a>
  <div>
    <h2 class="heading">On this page</h2>
    <ul class="tos">
      {
        headings
          .filter(({ depth }) => depth === 2)
          .map((h) => (
            <li class={`header-link depth-${h.depth}`}>
              <a href={`#${h.slug}`}>{h.text}</a>
            </li>
          ))
      }
    </ul>
  </div>
</aside>

<style>
  .panel {
    display: flex;
    flex-direction: column;
    gap: var(--space-5x);
    padding: 116px var(--space-16x) 0;
    background: var(--gray-100, #fafafb);
  }

  .panel .description {
    border-top: 1px solid var(--gray-300, #ced0d5);
    padding-top: var(--space-4x);
    display: flex;
    flex-direction: column;
    gap: var(--space-5x);
  }

  .panel .description > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    --gutter: var(--space-6x);
    --doc-padding: 2rem;
  }

  .panel .description span {
    font-size: unset;
    font-weight: 500;
    color: var(--text-common-color-text-heading, #1a2b6b);
  }

  :where(a, p, li) {
    font-size: 14px;
    margin-bottom: 0;
  }

  hr {
    height: 1px;
    background: var(--gray-300, #ced0d5);
  }

  img {
    max-width: none;
    width: 337px;
    height: 183px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--gray-200, #ecedef);
  }

  h2.heading {
    padding: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration-line: underline;
  }

  .header-link {
    font-size: 14px;
    line-height: 2;
    list-style-type: none;
  }

  .tos li:first-child {
    margin-top: var(--space-3x);
  }
</style>
