---
import { MarkdownHeading } from "astro"
import { QuickstartsFrontmatter } from "~/content/config"
import * as CONFIG from "../../config"

interface Props {
  frontmatter: QuickstartsFrontmatter
  headings: MarkdownHeading[]
}
const { frontmatter, headings } = Astro.props
const currentPage = new URL(Astro.request.url).pathname
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}${frontmatter?.isIndex ? "/index" : ""}.mdx`
const githubEditUrl = CONFIG.GITHUB_EDIT_URL + currentFile
---

<aside class="panel">
  <!-- TODO: Replace placeholder image -->
  <img src="https://globaleducationcoalition.unesco.org/uploads/326_Chainlink_color_logo_O1kmmQ.png" />
  <div class="description">
    <p>Chainlink Products: <span>{frontmatter.products.join(", ")}</span></p>
    <p>Product Versions: <span>{frontmatter.products.join(", ")}</span></p>
    <p>Required Time: <span>{frontmatter.time}</span></p>
    {
      frontmatter.requires && (
        <p>
          Requires: <span>{frontmatter.requires}</span>
        </p>
      )
    }
  </div>
  <!-- TODO: Add docs references -->
  <a href={githubEditUrl}>Open Github</a>
  <div>
    <h2 class="heading">On this page</h2>
    <ul>
      {
        headings
          .filter(({ depth }) => depth === 2)
          .map((h) => (
            <li class={`header-link depth-${h.depth}`}>
              <a href={`#${h.slug}`}>{h.text}</a>
            </li>
          ))
      }
    </ul>
  </div>
</aside>

<style>
  .panel {
    display: flex;
    flex-direction: column;
    gap: var(--space-5x);
    padding: 116px var(--space-6x) 0;
    background: var(--gray-100, #fafafb);
  }

  .panel .description {
    border-top: 1px solid var(--gray-300, #ced0d5);
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--space-5x);
  }

  :where(a, p) {
    font-size: 14px;
    margin-bottom: 0;
  }

  span {
    font-size: unset;
    font-weight: 500;
    color: var(--text-common-color-text-heading, #1a2b6b);
  }

  hr {
    height: 1px;
    background: var(--gray-300, #ced0d5);
  }

  img {
    max-width: none;
    width: 337px;
    height: 183px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--gray-200, #ecedef);
  }

  h2.heading {
    padding: 0;
    margin-bottom: 0;
  }

  li {
    line-height: 1.5;
    list-style-type: none;
  }

  li:first-child {
    margin-top: var(--space-3x);
  }
</style>
