---
import { MarkdownHeading } from "astro"
import { QuickstartsFrontmatter, productsInfo } from "~/content/config"
import * as CONFIG from "../../config"
import TableOfContents from "./TableOfContents"

interface Props {
  frontmatter: QuickstartsFrontmatter
  headings: MarkdownHeading[]
}
const { frontmatter, headings } = Astro.props
const currentPage = new URL(Astro.request.url).pathname
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.mdx`
const githubEditUrl = CONFIG.GITHUB_EDIT_URL + currentFile
const products = frontmatter.products.map((p) => productsInfo[p])
---

<aside class="panel">
  <img class="feature" src=`/images/quickstarts/feature/${frontmatter.image}` />
  <div class="description">
    <div><p>Chainlink Products:</p> <p><span>{products.map((p) => p.name).join(", ")}</span></p></div>
    <div><p>Product Versions:</p> <p><span>{products.map((p) => p.name).join(", ")}</span></p></div>
    <div><p>Required Time:</p> <p><span>{frontmatter.time}</span></p></div>
    {
      frontmatter.requires && (
        <div>
          <p>Requires: </p>
          <p>
            <span>{frontmatter.requires}</span>
          </p>
        </div>
      )
    }
    <div>
      <p>Docs:</p>
      <ul>
        <span
          >{
            products.map((p) => (
              <a href={`/${p.slug}`}>
                <li style="line-height: 1.5;">{p.name}</li>
              </a>
            ))
          }</span
        >
      </ul>
    </div>
  </div>
  <a href={githubEditUrl} class="primary button"><img src="/assets/github.svg" />Open Github</a>
  <nav>
    <TableOfContents client:media="(min-width: 50em)" {headings} />
  </nav>
</aside>

<style>
  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 550px;
    padding: var(--space-4x) var(--gutter) 0;
  }

  .panel > * {
    margin-top: var(--space-8x);
  }

  .panel .description {
    border-top: 1px solid var(--gray-300, #ced0d5);
    padding-top: var(--space-8x);
    display: flex;
    flex-direction: column;
    gap: var(--space-5x);
  }

  .panel .description > div {
    display: grid;
    gap: var(--space-2x);
    grid-template-columns: 1fr 1.2fr;
    --gutter: var(--space-6x);
    --doc-padding: 2rem;
  }

  .panel .description span {
    font-size: unset;
    font-weight: 500;
    color: var(--text-common-color-text-heading, #1a2b6b);
  }

  .panel nav {
    top: 0;
    padding: var(--doc-padding) 0;
    margin-top: 0;
    overflow: auto;
    position: sticky;
    width: 100%;
  }

  .panel :where(a, p, li) {
    font-size: 14px;
    margin-bottom: 0;
  }

  .panel li {
    list-style-position: inside;
  }

  img.feature {
    width: 337px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--gray-200, #ecedef);
  }

  a.button {
    width: 100%;
  }

  /* TODO: Replace with svg with white fill */
  a.button img {
    height: var(--space-6x);
    width: var(--space-6x);
    filter: brightness(0) invert(1);
  }

  @media (min-width: 48em) {
    .panel {
      padding: var(--space-4x) var(--space-6x) 0;
      background: var(--gray-100, #fafafb);
    }
  }

  @media (min-width: 72em) {
    .panel {
      padding: var(--space-4x) var(--space-12x) 0;
    }
  }
</style>
