---
import { Typography } from "@chainlink/blocks"
import styles from "./toolsUtilities.module.css"
import { Link } from "./types"

type Props = Link

const { description, image, imageAlt, label, link } = Astro.props
---

<a href={link} class={styles.card}>
  <div class={styles.imageContainer}><img src={image} alt={imageAlt} class={styles.image} /></div>

  <div class={styles.content}>
    <div>
      <Typography
        variant="body-semi"
        style={{
          fontWeight: 500,
          fontSize: "18px",
        }}>{label}</Typography
      >
      <Typography variant="body-s" color="muted">{description}</Typography>
    </div>

    <img src="/assets/icons/upper-right-arrow.svg" class={styles.arrow} />
  </div>
</a>
