---
import button from "@chainlink/design-system/button.module.css"
import VideoPlayerIcon from "../assets/VideoPlayerIcon.astro"
import tutorialPreview from "../assets/video-preview.png"
import avatarAustin from "../assets/people/austin-griffith.png"
import avatarPatrick from "../assets/people/patrick-collins.png"
import avatarNader from "../assets/people/nader-dabit.png"
import { LinkTuple } from "../types"
import { clsx } from "~/lib"
const links = [
  ["Two-Minute Explainers", "https://www.youtube.com/playlist?list=PLVP9aGDn-X0Q3qBME3T9sBMw66xPsglMA"],
  ["Chainlink Developer Workshops", "https://www.youtube.com/playlist?list=PLVP9aGDn-X0SPHromvpiGvoNDpH7YErmf"],
  ["Chainlink Engineering Tutorials", "https://www.youtube.com/playlist?list=PLVP9aGDn-X0QwJVbQvuKr-zrh2_DV5M6J"],
  ["Solidity, Blockchain, and Smart Contract Python Course", "https://www.youtube.com/watch?v=M576WGiDBdQ"],
  ["Chainlink Engineering YouTube", "https://www.youtube.com/playlist?list=PLVP9aGDn-X0QwJVbQvuKr-zrh2_DV5M6J"],
  ["Dapp University", "https://www.youtube.com/watch?v=YLmMNocc1ys"],
] as LinkTuple[]
const people = [
  {
    name: "Austin Griffith",
    image: avatarAustin,
    link: "https://www.youtube.com/watch?v=ffU96UhlA0A",
  },
  {
    name: "Patrick Collins",
    image: avatarPatrick,
    link: "https://www.youtube.com/watch?v=p36tXHX1JD8",
  },
  {
    name: "Nader Dabit",
    image: avatarNader,
    link: "https://www.youtube.com/watch?v=nS9xP1hxg3w",
  },
]
---

<div class="tutorials-cta">
  <div>
    <a
      href="https://www.youtube.com/watch?v=yN3zpI3sNAE"
      target="_blank"
      rel="noopener"
      aria-label="Learn more about the technology we are building on our YouTube channel"
    >
      <img
        class="videoPreview"
        src={tutorialPreview}
        alt="Learn more about the technology we are building on our YouTube channel"
      />
    </a>
  </div>
  <div class="cta-col">
    <h4>Watch tutorials</h4>
    <p>
      Learn more about the technology we are building. We're constantly uploading new videos to our YouTube channel.
    </p>
    <a
      class={clsx(button.primary, "cta-button")}
      href="https://www.youtube.com/c/chainlink"
      style="display: inline-flex;"
      target="_blank"
      rel="noopener"
    >
      <VideoPlayerIcon />
      Watch tutorials
    </a>
  </div>
  <div class="linklist">
    {
      links.map((link) => (
        <a href={link[1]} target="_blank" rel="noopener">
          {link[0]}
        </a>
      ))
    }
  </div>
  <div class="linklist">
    {
      people.map((people) => (
        <a href={people.link} target="_blank" rel="noopener">
          <img
            src={people.image}
            style="width: var(--space-6x); height: var(--space-6x); border-radius: 50%"
            alt={people.name}
          />
          {people.name}
        </a>
      ))
    }
  </div>
</div>

<style>
  .videoPreview {
    border-radius: 4px;
  }
  .tutorials-cta {
    background: var(--color-background-secondary);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4x);
    padding: var(--space-8x);
    border-radius: var(--border-radius-primary);
  }

  @media (min-width: 50em) {
    .tutorials-cta {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: var(--space-8x);
    }
  }

  .resources-cta div a {
    display: block;
    margin-top: var(--space-4x);
  }

  .resources-cta div a:first-child {
    margin-top: var(--space-0x);
  }

  .linklist a {
    margin-top: var(--space-4x);
    display: flex;
    align-items: center;
  }

  .linklist a:first-child {
    margin-top: var(--space-0x);
  }
</style>
