---
layout: ./main.liquid
---
<div class="home-content">
    <div>
        <!--{% include banner %}-->
        {% if title %}
            <div class="title">
                <h1 class="page-title">{{title}}</h1>
                <div class="corner-floated">
                    <div id="docsat"></div>
                    <script src="/docsat.js"></script>
                    <a href="https://github.com/smartcontractkit/documentation/edit/main/{{page.inputPath}}">Suggest Edits</a>
                    <!--   Last Modified: {{page.date}} -->
                </div>
            </div>
            <hr style="border:0;border-top:1px solid #EEE">
        {% endif %}

        {{content}}
        {% if whatsnext %}
           <div class="nextSteps">
            <hr/>
                <h2>What's Next</h2>
                <table>
                    <tbody>
                      {% for page in whatsnext %}
                        <tr>
                            <td>
                                <a href="{{page[1]}}">› {{page[0]}}</a>
                            </td>
                        </tr>
                     {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
</div>
