<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    {% unless title %}
        {% assign title="Blockchain Oracles for Connected Smart Contracts" %}
    {% endunless %}
    <title>{{title}} | Chainlink Documentation</title>
    <meta content="{{title}} | Chainlink Documentation" property="og:title">
    <meta content="{{title}} | Chainlink Documentation" property="twitter:title">

    {% unless metadata.description %}
        {% assign metadata.description="Chainlink is the most widely used oracle network for powering universally connected smart contracts, enabling any blockchain to access to real-world data &amp; APIs" %}
    {% endunless %}
    <meta content="{{metadata.description}}" name="description">
    <meta content="{{metadata.description}}" property="og:description">
    <meta content="{{metadata.description}}" property="twitter:description">
    {% if metadata.image[0] %}
        <meta content="{{metadata.image[0]}}" property="og:image">
        <meta content="{{metadata.image[0]}}" property="twitter:image">
    {% else %}
        <meta
            content="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa2e075cfcf344baa0e9063_chainlink-open-graph-images_home%20(with%20illustration).png"
            property="og:image">
        <meta
            content="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa2e075cfcf344baa0e9063_chainlink-open-graph-images_home%20(with%20illustration).png"
            property="twitter:image">
    {% endif %}

    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
        
    {% if hidden %}
    <!-- Allow hidden content -->
    <meta name="robots" content="noindex" />
    {% endif %}

       <!-- Syntax Highlight-->
    <link href="/prism.css" rel="stylesheet"type="text/css">
    <script src="/prism.js"></script>
    <script src="/tab.js"></script>
    <script src="/sul.js"></script>


    <link href="/docs.css" rel="stylesheet" type="text/css">

        <link
            href="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa97474da20bc75f63bfdc4_Chainlink-favicon-32.png"
            rel="shortcut icon" type="image/x-icon">
        <link
            href="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa973e31adbc3414aa8f77d_Chainlink-webclip.png"
            rel="apple-touch-icon">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128878871-16"></script>
        <script
            type="text/javascript">window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-128878871-16');</script>

        <script>
            // Detect highlighting
            let lastEvent = 0;
            const checkForHighlight = (event) => {
                try {
                    const selection = window.getSelection().toString();
                    // Rate limit to 30s
                    if(selection && Date.now() > (lastEvent + 1000 * 30)) {
                        gtag('event','select_content',{'event_category': 'docs-engagement', label: selection.substring(0,30)});
                        lastEvent = Date.now();
                    }
                } catch (e) {}
            }
            document.addEventListener('mouseup',checkForHighlight);

            // Track remix deployments
            document.addEventListener('DOMContentLoaded', () => {
                [...document.getElementsByTagName('a')]
                    .filter(x => x.href.startsWith('https://remix.ethereum.org/') && x.href.length > 27 )
                    .map(x => {x.addEventListener('click',(event) => {
                        console.log('sending to gtag!');
                        gtag('event','deploy-to-remix',{event_category:'docs-engagement'});
                    });});
                [...document.getElementsByClassName('copy-to-clipboard-button')]
                    .map(x => {x.addEventListener('click',(event) => {
                        gtag('event','copy-code',{event_category:'docs-engagement'});
                    });});
            })
        </script>


    </head>

    <body class="body">
        <div id="nav-container">
            <nav>
                <a href="/" aria-current="page" style="margin-right:40px;"
                    aria-label="home"><img
                    src="/chainlink-docs.svg"
                    loading="lazy" style="height:40px;width:176px;max-width:176px" alt="Chainlink Developers"></a>
                <span style="flex-grow:1;"></span>
                <div><a href="/" {% if section == "smartContract" %} class="active" {% endif %}>Contract Developers</a></div>
                <div><a href="/chainlink-nodes" {% unless section == "smartContract" %} class="active" {% endunless %}>Node Operators</a></div>

                <span style="flex-grow:1;"></span>
                

                {% include _search.html %}
                <a href="https://github.com/smartcontractkit/documentation/" id="github-button"><img src="/github.svg" style="height:32px;margin:0 0 0 8px;"></a>
            </nav>
        </div>

   


        <div id="page">
        <section class="section-content" style="padding-top:0px;">
            
            <div class="corner-floated">
                <div id="docsat"></div>
                <script src="/docsat.js"></script>
                <a href="https://github.com/smartcontractkit/documentation/edit/main/{{page.inputPath}}">Suggest Edits</a>
                <!--   Last Modified: {{page.date}} -->
            </div>
	        {{ content }}
        </section>
    </div>

        
        <footer class="footer">
            <div class="container">
                <div class="w-layout-grid footer-grid">
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Developers</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="https://docs.chain.link"
                                    class="footer-list-item-link">Docs</a></li>
                            <li class="footer-list-item"><a href="/developer-resources"
                                    class="footer-list-item-link">Developer resources</a></li>
                            <li class="footer-list-item"><a
                                    href="/docs/using-chainlink-reference-contracts"
                                    class="footer-list-item-link">Price feeds</a></li>
                            <li class="footer-list-item"><a href="/docs/chainlink-vrf"
                                    class="footer-list-item-link">Randomness</a></li>
                            <li class="footer-list-item"><a href="/docs/request-and-receive-data"
                                    class="footer-list-item-link">External API&nbsp;calls</a></li>
                            <li class="footer-list-item"><a href="/docs/link-token-contracts"
                                    class="footer-list-item-link">Contract reference</a></li>
                            <li class="footer-list-item"><a href="/docs/node-operator-overview"
                                    class="footer-list-item-link">Node operators</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Solutions</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/solutions" class="footer-list-item-link">Overview</a>
                            </li>
                            <li class="footer-list-item"><a href="/solutions/defi"
                                    class="footer-list-item-link">DeFi</a></li>
                            <li class="footer-list-item"><a href="/solutions/chainlink-vrf"
                                    class="footer-list-item-link">Chainlink VRF</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Community</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/hackathon" class="footer-list-item-link">Chainlink
                                    Hackathon</a></li>
                            <li class="footer-list-item"><a href="/community" class="footer-list-item-link">Community
                                    overview</a></li>
                            <li class="footer-list-item"><a href="/community/grants" class="footer-list-item-link">Grant
                                    program</a></li>
                            <li class="footer-list-item"><a href="/community/events"
                                    class="footer-list-item-link">Events</a></li>
                            <li class="footer-list-item"><a href="/community/advocates"
                                    class="footer-list-item-link">Become an advocate</a></li>
                            <li class="footer-list-item"><a href="/code-of-conduct" class="footer-list-item-link">Code
                                    of conduct</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Chainlink</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/ecosystem"
                                    class="footer-list-item-link">Ecosystem</a></li>
                            <li class="footer-list-item"><a href="/ecosystem/data-providers"
                                    class="footer-list-item-link">Data Providers</a></li>
                            <li class="footer-list-item"><a href="/press" class="footer-list-item-link">Press</a></li>
                            <li class="footer-list-item"><a href="https://blog.chain.link"
                                    class="footer-list-item-link">Blog</a></li>
                            <li class="footer-list-item"><a href="/team" class="footer-list-item-link">Team</a></li>
                            <li class="footer-list-item footer-list-item-hidden"><a
                                    href="https://chainlinklabs.com/careers" class="footer-list-item-link">Careers</a>
                                <div class="footer-wearehiring-badge">
                                    <div class="badge-text">WE&nbsp;ARE&nbsp;HIRING!</div>
                                </div>
                            </li>
                            <li class="footer-list-item"><a href="/brand-assets" class="footer-list-item-link">Brand
                                    assets</a></li>
                            <li class="footer-list-item"><a href="/faqs" class="footer-list-item-link">FAQs</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Contact</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item">
                                <div class="html-embed w-embed w-script"><a
                                        class="typeform-share button footer-list-item-link"
                                        href="https://chainlinkcommunity.typeform.com/to/OYQO67EF" data-mode="popup"
                                        style="display: inline-block;" target="_blank" rel="noopener">Talk to an
                                        expert</a>
                                </div>
                            </li>
                            <li class="footer-list-item"><a href="mailto:security@chain.link"
                                    class="footer-list-item-link">Security</a></li>
                            <li class="footer-list-item"><a href="mailto:support@chain.link"
                                    class="footer-list-item-link">Support</a></li>
                            <li class="footer-list-item"><a href="mailto:custom@chain.link"
                                    class="footer-list-item-link">Custom Chainlinks</a></li>
                            <li class="footer-list-item"><a href="mailto:press@chain.link"
                                    class="footer-list-item-link">Press inquiries</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Social</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8de393ea2bffa0ff_twitter.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://twitter.com/chainlink" target="_blank"
                                    class="footer-list-item-link">Twitter</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc3830fc22d9bc18c8_youtube.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://www.youtube.com/chainlinkofficial" target="_blank"
                                    class="footer-list-item-link">YouTube</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcff3840d5ec8300b30_discord.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://discord.gg/aSK4zew" target="_blank"
                                    class="footer-list-item-link">Discord</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcceaf22843cde97118_telegram.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://t.me/chainlinkofficial" target="_blank"
                                    class="footer-list-item-link">Telegram</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8e9ff41b546f039f_wechat.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://blog.chain.link/chainlink-chinese-communities/"
                                    target="_blank" class="footer-list-item-link">WeChat</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8f83d17d2d857106_reddit.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://www.reddit.com/r/Chainlink/" target="_blank"
                                    class="footer-list-item-link">Reddit</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="footer-copyright-wrapper">
                        <div class="footer-copyright-wrapper-col"><a href="/" aria-current="page"
                                class="footer-copyright-logo w-inline-block w--current">
                                <div class="footer-logo-text-hide">Home</div><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f7610da8f83d1e6028573c7_chainlink-logo-footer.svg"
                                    loading="lazy" width="85" height="28" alt="Chainlink logo" class="logo-white">
                            </a>
                            <div class="paragraph small footer-copyright footer-chainlinkreg">Chainlink®</div>
                            <div class="paragraph small footer-chainlinkreg">© 2021 SmartContract Chainlink Ltd SEZC
                            </div>
                        </div>
                        <div class="footer-copyright-wrapper-col footer-privacyandterms"><a href="https://chain.link/privacy-policy"
                                class="paragraph small footer-copyright">Privacy Policy</a><a href="https://chain.link/terms"
                                class="paragraph small footer-copyright">Terms of Use</a></div>
                    </div>
                </div>
            </div>
        </footer>
        <script
            src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f6b7190899f41fb70882d08"
            type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    </body>


</html>