<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        {% unless title %}
            {% assign title="Blockchain Oracles for Connected Smart Contracts" %}
        {% endunless %}
        <title>{{title}}
            | Chainlink Documentation</title>
        <meta content="{{title}} | Chainlink Documentation" property="og:title">
        <meta content="{{title}} | Chainlink Documentation" property="twitter:title">

        {% unless metadata.description %}
            {% assign metadata.description="Chainlink is the most widely used oracle network for powering universally connected smart contracts, enabling any blockchain to access to real-world data &amp; APIs" %}
        {% endunless %}
        <meta content="{{metadata.description}}" name="description">
        <meta content="{{metadata.description}}" property="og:description">
        <meta content="{{metadata.description}}" property="twitter:description">
        {% if metadata.image[0] %}
            <meta content="{{metadata.image[0]}}" property="og:image">
            <meta content="{{metadata.image[0]}}" property="twitter:image">
        {% else %}
            <meta content="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa2e075cfcf344baa0e9063_chainlink-open-graph-images_home%20(with%20illustration).png" property="og:image">
            <meta content="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa2e075cfcf344baa0e9063_chainlink-open-graph-images_home%20(with%20illustration).png" property="twitter:image">
        {% endif %}

        <meta content="website" property="og:type">
        <meta content="summary_large_image" name="twitter:card">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        {% if hidden %}
            <!-- Allow hidden content -->
            <meta content="noindex" name="robots"/>
        {% endif %}

        <!-- Syntax Highlight-->
        <link rel="preload" href="/prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/prism.css"></noscript>
        <script src="/index.js" defer></script>
        <link href="/docs.css" rel="stylesheet" type="text/css">

        <link href="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa97474da20bc75f63bfdc4_Chainlink-favicon-32.png" rel="shortcut icon" type="image/x-icon">
        <link href="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5fa973e31adbc3414aa8f77d_Chainlink-webclip.png" rel="apple-touch-icon">

        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N6DQ47T');</script>
        <!-- End Google Tag Manager -->


    </head>

    <body class="body">
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6DQ47T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="notification" key="fall-2021-hackathon" start="2021-09-17" end="2021-10-21">
            <div class="notification-info">
                <span class="notification-close">X</span>
                <span class="notification-text">
                  <span class="notification-text-highlight">NEW</span>The Chainlink Fall 2021 Hackathon kicks off October 22. <a href="https://chain.link/hackathon">Sign up today.<a/>
                </span>
            </div>
        </div>
        <div class="notification" key="fall-2021-hackathon" start="2021-10-22" end="2021-10-31">
            <div class="notification-info">
                <span class="notification-close">X</span>
                <span class="notification-text">
                  The Chainlink Fall 2021 Hackathon is happening now. <a href="https://chain.link/hackathon">Check it out.<a/>
                </span>
            </div>
        </div>
        <div id="nav-container">
            <nav>
                <a href="/" aria-current="page" style="margin-right:40px;"
                    aria-label="home"><img
                    src="/chainlink-docs.svg"
                    loading="lazy" style="height:40px;width:176px;max-width:176px" alt="Chainlink Developers"></a>
                <span style="flex-grow:1;"></span>
                <div style="display:flex">
                    <div class="tab"><a href="/" {% if section == "smartContract" %} class="active" {% endif %}>Contract Developers</a></div>
                    <div class="tab"><a href="/chainlink-nodes/" {% unless section == "smartContract" %} class="active" {% endunless %}>Node Operators</a></div>
                </div>
                <span style="flex-grow:1;"></span>


                {% include _search.html %}
                <a href="https://github.com/smartcontractkit/documentation/" id="github-button"><img src="/github.svg" style="height:32px;margin:0 0 0 8px;"></a>
            </nav>
        </div>




        <div id="page">
        <section class="section-content" style="padding-top:0px;position:relative;">
	        {{ content }}
        </section>
    </div>

        <section class="cta-subscribe">
            <div class="container">
                <div class="subscribe-header">
                    <h1 class="h1 cta-subscribe-h1">Subscribe to the latest Chainlink Developer news</h1>
                </div>
                <div class="form-subscribe-wrapper w-form">
                    <form id="wf-form-Chainlink-Newsletter" name="wf-form-Chainlink-Newsletter" data-name="Chainlink Newsletter" class="form-subscribe">
                        <div class="form-subscribe-field-wrapper"><label for="Email" class="field-label-hidden">Email Address</label><input type="email" class="cta-subscribe-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email address" id="Email" required=""><input id="subscribe-button" type="submit" value="Sign up" class="btn btn-secondary w-button"></div>
                    </form>
                    <div class="form-success-message w-form-done">
                        <div class="subscribe-success-message-text">Thank you for signing up! Please check your inbox to confirm your subscription.</div>
                        <div class="subscribe-success-social">
                            <a rel="noopener" href="https://twitter.com/chainlink" class="subscribe-form-success-social w-inline-block"><img src="/images/twitter.svg" loading="lazy" width="24" height="24" alt="Twitter"></a>
                            <a rel="noopener" href="https://www.youtube.com/chainlinkofficial" class="subscribe-form-success-social w-inline-block"><img src="/images/youtube.svg" loading="lazy" width="24" height="24" alt="YouTube"></a>
                            <a rel="noopener" href="https://stackoverflow.com/questions/tagged/chainlink" class="subscribe-form-success-social w-inline-block"><img src="/images/stackoverflow.svg" loading="lazy" width="24" height="24" alt="Stack Overflow"></a>
                            <a rel="noopener" href="https://ethereum.stackexchange.com/questions/tagged/chainlink" class="subscribe-form-success-social w-inline-block"><img src="/images/stackexchange.svg" loading="lazy" width="24" height="24" alt="Stack Exchange Ethereum"></a>
                            <a rel="noopener" href="https://discord.gg/aSK4zew" class="subscribe-form-success-social w-inline-block"><img src="/images/discord.svg" loading="lazy" width="24" height="24" alt="Discord"></a>
                            <a rel="noopener" href="https://t.me/chainlinkofficial" class="subscribe-form-success-social w-inline-block"><img src="/images/telegram.svg" loading="lazy" width="24" height="24" alt="Telegram"></a>
                            <a rel="noopener" href="https://blog.chain.link/chainlink-chinese-communities/" class="subscribe-form-success-social w-inline-block"><img src="/images/wechat.svg" loading="lazy" width="24" height="24" alt="WeChat"></a>
                            <a rel="noopener" href="https://www.reddit.com/r/Chainlink/" class="subscribe-form-success-social w-inline-block"><img src="/images/reddit.svg" loading="lazy" width="24" height="24" alt="Reddit"></a>
                        </div>
                        <div class="form-error-message w-form-fail">
                            <div class="subscribe-text-block">Oops! Something went wrong while submitting the form. Please try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer">
            <div class="container">
                <div class="w-layout-grid footer-grid">
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Developers</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="https://docs.chain.link"
                                    class="footer-list-item-link">Docs</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/developer-resources"
                                    class="footer-list-item-link">Developer resources</a></li>
                            <li class="footer-list-item"><a
                                    href="/docs/using-chainlink-reference-contracts/"
                                    class="footer-list-item-link">Data feeds</a></li>
                            <li class="footer-list-item"><a href="/docs/chainlink-vrf/"
                                    class="footer-list-item-link">Randomness</a></li>
                            <li class="footer-list-item"><a href="/docs/request-and-receive-data/"
                                    class="footer-list-item-link">External API&nbsp;calls</a></li>
                            <li class="footer-list-item"><a href="/docs/link-token-contracts/"
                                    class="footer-list-item-link">Contract reference</a></li>
                            <li class="footer-list-item"><a href="/docs/node-operator-overview/"
                                    class="footer-list-item-link">Node operators</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Solutions</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="https://chain.link/solutions" class="footer-list-item-link">Overview</a>
                            </li>
                            <li class="footer-list-item"><a href="https://chain.link/solutions/defi"
                                    class="footer-list-item-link">DeFi</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/solutions/chainlink-vrf"
                                    class="footer-list-item-link">Chainlink VRF</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Community</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="https://chain.link/hackathon/" class="footer-list-item-link">Chainlink
                                    Hackathon</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/community" class="footer-list-item-link">Community
                                    overview</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/community/grants" class="footer-list-item-link">Grant
                                    program</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/community/events"
                                    class="footer-list-item-link">Events</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/community/advocates"
                                    class="footer-list-item-link">Become an advocate</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/code-of-conduct" class="footer-list-item-link">Code
                                    of conduct</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Chainlink</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="https://chain.link/ecosystem"
                                    class="footer-list-item-link">Ecosystem</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/ecosystem/data-providers"
                                    class="footer-list-item-link">Data Providers</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/press" class="footer-list-item-link">Press</a></li>
                            <li class="footer-list-item"><a href="https://blog.chain.link"
                                    class="footer-list-item-link">Blog</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/team" class="footer-list-item-link">Team</a></li>
                            <li class="footer-list-item footer-list-item-hidden"><a
                                    href="https://chainlinklabs.com/careers" class="footer-list-item-link">Careers</a>
                                <div class="footer-wearehiring-badge">
                                    <div class="badge-text">WE&nbsp;ARE&nbsp;HIRING!</div>
                                </div>
                            </li>
                            <li class="footer-list-item"><a href="https://chain.link/brand-assets" class="footer-list-item-link">Brand
                                    assets</a></li>
                            <li class="footer-list-item"><a href="https://chain.link/faqs" class="footer-list-item-link">FAQs</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Contact</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item">
                                <div class="html-embed w-embed w-script"><a
                                        class="typeform-share button footer-list-item-link"
                                        href="https://chainlinkcommunity.typeform.com/to/OYQO67EF?page=docs-footer" data-mode="popup"
                                        style="display: inline-block;" rel="noopener">Talk to an
                                        expert</a>
                                </div>
                            </li>
                            <li class="footer-list-item"><a href="mailto:security@chain.link"
                                    class="footer-list-item-link">Security</a></li>
                            <li class="footer-list-item"><a href="mailto:support@chain.link"
                                    class="footer-list-item-link">Support</a></li>
                            <li class="footer-list-item"><a href="mailto:custom@chain.link"
                                    class="footer-list-item-link">Custom Chainlinks</a></li>
                            <li class="footer-list-item"><a href="mailto:press@chain.link"
                                    class="footer-list-item-link">Press inquiries</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-col">
                        <h3 class="h3 footer-heading">Social</h3>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8de393ea2bffa0ff_twitter.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://twitter.com/chainlink"
                                    class="footer-list-item-link">Twitter</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc3830fc22d9bc18c8_youtube.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://www.youtube.com/chainlinkofficial"
                                    class="footer-list-item-link">YouTube</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcff3840d5ec8300b30_discord.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://discord.gg/aSK4zew"
                                    class="footer-list-item-link">Discord</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcceaf22843cde97118_telegram.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://t.me/chainlinkofficial"
                                    class="footer-list-item-link">Telegram</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8e9ff41b546f039f_wechat.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://blog.chain.link/chainlink-chinese-communities/"
                                    class="footer-list-item-link">WeChat</a></li>
                            <li class="footer-list-item-social"><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8f83d17d2d857106_reddit.svg"
                                    loading="lazy" width="24" height="24" alt="" class="footer-list-item-social-icon"><a
                                    rel="noopener" href="https://www.reddit.com/r/Chainlink/"
                                    class="footer-list-item-link">Reddit</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="footer-copyright-wrapper">
                        <div class="footer-copyright-wrapper-col"><a href="/" aria-current="page"
                                class="footer-copyright-logo w-inline-block w--current">
                                <div class="footer-logo-text-hide">Home</div><img
                                    src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f7610da8f83d1e6028573c7_chainlink-logo-footer.svg"
                                    loading="lazy" width="85" height="28" alt="Chainlink logo" class="logo-white">
                            </a>
                            <div class="paragraph small footer-copyright footer-chainlinkreg">Chainlink®</div>
                            <div class="paragraph small footer-chainlinkreg">© 2021 SmartContract Chainlink Ltd SEZC
                            </div>
                        </div>
                        <div class="footer-copyright-wrapper-col footer-privacyandterms"><a href="https://chain.link/privacy-policy"
                                class="paragraph small footer-copyright">Privacy Policy</a><a href="https://chain.link/terms"
                                class="paragraph small footer-copyright">Terms of Use</a></div>
                    </div>
                </div>
            </div>
        </footer>


        <script>

            document.addEventListener('DOMContentLoaded', () => {
                    // Open all external links in a blank context
                    const links = document.links;
                    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
                        if(!links[i].href.startsWith("javascript:")) {
                            if (links[i].hostname != window.location.hostname) {
                                links[i].target = '_blank';
                            }
                        }
                    }

                    // Add header anchor tags
                    const headers = document.querySelectorAll('.article > h1:not(.page-title),.article > h2,.article > h3');
                    [...headers].map(header => {
                        const link = document.createElement('a');
                        link.href = `#${header.id}`;
                        link.classList.add('anchor');
                        link.innerHTML = '<img src="/images/link.svg" alt="Link to this section">';
                        header.appendChild(link);
                    })
            })


        </script>
    </body>


</html>
