---
layout: ./main.liquid
---
<div class="nav-content">
    <navigation>
        {% unless section %}
        {% assign section = "nodeOperator" %}
        {% endunless %}

        {% for group in navigation.navigation[section] %}
            <div>
                <span class="nav-header">{{group.section}}</span>
                {% for destination in group.contents %}
                    {% if destination.children %}
                        <a href="/docs/{{destination.url}}/" class="expandable {% if page.fileSlug == destination.url%} active{% endif %}">{{destination.title}}</a>
                        {% for child in destination.children %}
                            <a href="/docs/{{child.url}}/" style="padding-left: 32px;" {% if page.fileSlug == child.url%} class="active" {% endif %}>{{child.title}}</a>
                        {% endfor %}
                    {% else %}
                        <a href="/docs/{{destination.url}}/"{% if page.fileSlug == destination.url%} class="active"{% endif %}>{{destination.title}}</a>
    

                    {% endif %}

                    

                {% endfor %}

            </div>
        {% endfor %}

    </navigation>
    <div>
        <!--{% include banner %}-->
        {% if title %}
            <h1 class="page-title">{{title}}</h1>
            <hr style="border-top:1px solid #EEE">
        {% endif %}

        {{content}}
        {% if whatsnext %}
           <div class="nextSteps">
            <hr/>
                <h2>What's Next</h2>
                <table>
                    <tbody>
                      {% for page in whatsnext %}
                        <tr>
                            <td>
                                <a href="{{page[1]}}">› {{page[0]}}</a>
                            </td>
                        </tr>
                     {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
</div>