---
layout: ./main.liquid
---
<div class="nav-content">
    <button class="nomenu" onclick="document.getElementsByTagName('navigation')[0].classList.add('open')">Select a Page <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg></button>
    <navigation>
        <button class="menu" onclick="document.getElementsByTagName('navigation')[0].classList.remove('open')"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg></button>
        {% unless section %}
        {% assign section = "nodeOperator" %}
        {% endunless %}

        {% for group in navigation.navigation[section] %}
            <div>
                <span class="nav-header">{{group.section}}</span>
                {% for destination in group.contents %}
                    {% if destination.children %}
                        <a href="{{destination.url}}" class="expandable {% if page.url == destination.url%} active{% endif %}">{{destination.title}}</a>
                        {% for child in destination.children %}
                            <a href="{{child.url}}" style="padding-left: 32px;" {% if page.url == child.url%} class="active" {% endif %}>{{child.title}}</a>
                        {% endfor %}
                    {% else %}
                        <a href="{{destination.url}}" title="{{ page.url}} contains {{destination.url}}" {% if page.url == destination.url%} class="active"{% endif %}>{{destination.title}}</a>


                    {% endif %}



                {% endfor %}

            </div>
        {% endfor %}

    </navigation>
    <div class="article">
        <!--{% include banner %}-->
        {% if title %}
            <div class="title">
                {% if logo %}
                  <img src="{{logo}}" class="page-logo" \>
                {% endif %}
                <h1 class="page-title">{{title}}</h1>
                <div class="corner-floated">
                    <div id="docsat"></div>
                    <script src="/docsat.js"></script>
                    <a href="https://github.com/smartcontractkit/documentation/edit/main/{{page.inputPath}}">Suggest Edits</a>
                    <!--   Last Modified: {{page.date}} -->
                </div>
            </div>
            <hr style="border:0;border-top:1px solid #EEE">
        {% endif %}

        {{content}}
        {% if whatsnext %}
           <div class="nextSteps">
            <hr/>
                <h2>What's Next</h2>
                <table>
                    <tbody>
                      {% for page in whatsnext %}
                        <tr>
                            <td>
                                <a href="{{page[1]}}">› {{page[0]}}</a>
                            </td>
                        </tr>
                     {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
</div>
