---
layout: ./main.liquid
---
<div class="nav-content">
    <navigation>
        {% for section in navigation.navigation.nodeOperator %}
            <div>
                <span class="nav-header">{{section.section}}</span>
                {% for destination in section.contents %}
                    <a href="/docs/{{destination.url}}" {% if page.fileSlug == destination.url%} class="active" {% endif %}>{{destination.title}}</a>
                {% endfor %}

            </div>
        {% endfor %}

    </navigation>
    <div>
        <!--{% include banner %}-->
        <h1>{{title}}</h1>
        {{content}}
    </div>
</div>