---
layout: ./main.liquid
---
<style> navigation a {display:block;}
</style>
<div style="display:flex">
    <navigation style="padding:16px;max-width:250px;margin-top:20px;">
        {% for section in navigation.navigation.nodeOperator %}
            <div>
                {{section.section}}
                {% for destination in section.contents %}
                    <a href="/docs/{{destination.url}}" {% if page.fileSlug == destination.url%} class="active" {% endif %}>{{destination.title}}</a>
                {% endfor %}

            </div>
        {% endfor %}

    </navigation>
    <div style="max-width:800px;margin: 0px auto; padding:16px;">
        <!--{% include banner %}-->
        <h1>{{title}}</h1>
        {{content}}
    </div>
</div>