---
import {
  calculateMessagingNetworkFeesDirect,
  calculateNetworkFeesForTokenMechanismDirect,
  TokenMechanism,
} from "@config/data/ccip"

const lockAndUnlockAllLanes = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.LockAndUnlock, "allLanes")
const restFromEthereumToNonEthereum = calculateNetworkFeesForTokenMechanismDirect(
  TokenMechanism.BurnAndMint,
  "fromEthereumToNonEthereum"
)
const restFromEthereumToSolana = calculateNetworkFeesForTokenMechanismDirect(
  TokenMechanism.BurnAndMint,
  "fromEthereumToSolana"
)
const restFromNonEthereumToEthereum = calculateNetworkFeesForTokenMechanismDirect(
  TokenMechanism.BurnAndMint,
  "fromNonEthereumToEthereum"
)
const restFromNonEthereumToNonEthereum = calculateNetworkFeesForTokenMechanismDirect(
  TokenMechanism.BurnAndMint,
  "fromNonEthereumToNonEthereum"
)
const restFromNonEthereumToSolana = calculateNetworkFeesForTokenMechanismDirect(
  TokenMechanism.BurnAndMint,
  "fromNonEthereumToSolana"
)
const messagingFeesFromToEthereum = calculateMessagingNetworkFeesDirect("fromToEthereum")
const messagingFeesFromNonEthereumToNonEthereum = calculateMessagingNetworkFeesDirect("fromNonEthereumToNonEthereum")
---

<div style="overflow-x: auto;">
  <table>
    <thead>
      <tr>
        <th rowspan="2">Use case</th>
        <th rowspan="2">Token Pool Mechanism</th>
        <th rowspan="2">Source Chain</th>
        <th rowspan="2">Destination Chain</th>
        <th colspan="2">Fee Token</th>
      </tr>
      <tr>
        <th>LINK</th>
        <th>Others</th>
      </tr>
    </thead>
    <tbody>
      <!-- Token Transfers with/without messaging -->
      <tr>
        <td rowspan="6">
          <ul style="list-style-type:none; margin:0; padding:0;">
            <li>Token Transfers</li>
            <li>Programmable Token Transfers</li>
          </ul>
        </td>
        <td>Lock and Unlock</td>
        <td>All Chains</td>
        <td>All Chains</td>
        <td>{lockAndUnlockAllLanes.linkFee}</td>
        <td>{lockAndUnlockAllLanes.gasTokenFee}</td>
      </tr>
      <tr class="section-divider">
        <td rowspan="5">Lock and Mint<br />Burn and Mint<br />Burn and Unlock</td>
        <td>Ethereum</td>
        <td>Not Ethereum</td>
        <td>{restFromEthereumToNonEthereum.linkFee}</td>
        <td>{restFromEthereumToNonEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>Ethereum</td>
        <td>Solana</td>
        <td>{restFromEthereumToSolana.linkFee}</td>
        <td>{restFromEthereumToSolana.gasTokenFee}</td>
      </tr>
      <tr>
        <td>Not Ethereum</td>
        <td>Solana</td>
        <td>{restFromNonEthereumToSolana.linkFee}</td>
        <td>{restFromNonEthereumToSolana.gasTokenFee}</td>
      </tr>
      <tr>
        <td>Not Ethereum</td>
        <td>Ethereum</td>
        <td>{restFromNonEthereumToEthereum.linkFee}</td>
        <td>{restFromNonEthereumToEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>Not Ethereum</td>
        <td>Not Ethereum</td>
        <td>{restFromNonEthereumToNonEthereum.linkFee}</td>
        <td>{restFromNonEthereumToNonEthereum.gasTokenFee}</td>
      </tr>
      <!-- Messaging -->
      <tr class="section-divider">
        <td rowspan="3">Messaging</td>
        <td rowspan="3">N/A</td>
        <td>Ethereum</td>
        <td>Any</td>
        <td>{messagingFeesFromToEthereum.linkFee}</td>
        <td>{messagingFeesFromToEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>Any</td>
        <td>Ethereum</td>
        <td>{messagingFeesFromToEthereum.linkFee}</td>
        <td>{messagingFeesFromToEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>Not Ethereum</td>
        <td>Not Ethereum</td>
        <td>{messagingFeesFromNonEthereumToNonEthereum.linkFee}</td>
        <td>{messagingFeesFromNonEthereumToNonEthereum.gasTokenFee}</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
    white-space: nowrap;
  }
  tr.section-divider td {
    border-top: 3px solid #bbb;
  }
</style>
