---
import {
  calculateMessagingNetworkFeesDirect,
  calculateNetworkFeesForTokenMechanismDirect,
  TokenMechanism,
} from "@config/data/ccip"

const lockAndUnlockAllLanes = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.LockAndUnlock, "allLanes")
const restMechanismFromToEthereum = calculateNetworkFeesForTokenMechanismDirect(
  TokenMechanism.BurnAndMint,
  "fromToEthereum"
)
const restMechanismNonEthereum = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.BurnAndMint, "nonEthereum")
const messagingFeesFromToEthereum = calculateMessagingNetworkFeesDirect("fromToEthereum")
const messagingFeesNonEthereum = calculateMessagingNetworkFeesDirect("nonEthereum")
---

<table>
  <thead>
    <tr>
      <th rowspan="2">Use case</th>
      <th rowspan="2">Token Pool Mechanism</th>
      <th rowspan="2">Lanes</th>
      <th colspan="2">Fee Token</th>
    </tr>
    <tr>
      <th>(Wrapped) Gas Token</th>
      <th>LINK</th>
    </tr>
  </thead>
  <tbody>
    <!-- Token Transfers with/without messaging -->
    <tr>
      <td rowspan="3">
        <ul style="list-style-type:none; margin:0; padding:0;">
          <li>Token Transfers</li>
          <li>Programmable Token Transfers</li>
        </ul>
      </td>
      <td>Lock and Unlock</td>
      <td>All Lanes</td>
      <td>{lockAndUnlockAllLanes.gasTokenFee}</td>
      <td>{lockAndUnlockAllLanes.linkFee}</td>
    </tr>
    <tr>
      <td rowspan="2">Lock and Mint<br />Burn and Mint<br />Burn and Unlock</td>
      <td>From/To: Ethereum</td>
      <td>{restMechanismFromToEthereum.gasTokenFee}</td>
      <td>{restMechanismFromToEthereum.linkFee}</td>
    </tr>
    <tr>
      <td>Non-Ethereum</td>
      <td>{restMechanismNonEthereum.gasTokenFee}</td>
      <td>{restMechanismNonEthereum.linkFee}</td>
    </tr>
    <!-- Messaging -->
    <tr>
      <td rowspan="2">Messaging</td>
      <td>N/A</td>
      <td>From/To: Ethereum</td>
      <td>{messagingFeesFromToEthereum.gasTokenFee}</td>
      <td>{messagingFeesFromToEthereum.linkFee}</td>
    </tr>
    <tr>
      <td>N/A</td>
      <td>Non-Ethereum</td>
      <td>{messagingFeesNonEthereum.gasTokenFee}</td>
      <td>{messagingFeesNonEthereum.linkFee}</td>
    </tr>
  </tbody>
</table>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
    white-space: nowrap;
  }
</style>
