---
import {
  calculateMessagingNetworkFeesDirect,
  calculateNetworkFeesForTokenMechanismDirect,
  TokenMechanism,
} from "@config/data/ccip"

const lockAndUnlockAllLanes = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.LockAndUnlock, "allLanes")
const restFromEthereum = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.BurnAndMint, "fromEthereum")
const restToEthereum = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.BurnAndMint, "toEthereum")
const restMechanismNonEthereum = calculateNetworkFeesForTokenMechanismDirect(TokenMechanism.BurnAndMint, "nonEthereum")
const messagingFeesFromToEthereum = calculateMessagingNetworkFeesDirect("fromToEthereum")
const messagingFeesNonEthereum = calculateMessagingNetworkFeesDirect("nonEthereum")
---

<div style="overflow-x: auto;">
  <table>
    <thead>
      <tr>
        <th rowspan="2">Use case</th>
        <th rowspan="2">Token Pool Mechanism</th>
        <th rowspan="2">Lanes</th>
        <th colspan="2">Fee Token</th>
      </tr>
      <tr>
        <th>LINK</th>
        <th>Others</th>
      </tr>
    </thead>
    <tbody>
      <!-- Token Transfers with/without messaging -->
      <tr>
        <td rowspan="4">
          <ul style="list-style-type:none; margin:0; padding:0;">
            <li>Token Transfers</li>
            <li>Programmable Token Transfers</li>
          </ul>
        </td>
        <td>Lock and Unlock</td>
        <td>All Lanes</td>
        <td>{lockAndUnlockAllLanes.linkFee}</td>
        <td>{lockAndUnlockAllLanes.gasTokenFee}</td>
      </tr>
      <tr>
        <td rowspan="3">Lock and Mint<br />Burn and Mint<br />Burn and Unlock</td>
        <td>Non-Ethereum</td>
        <td>{restMechanismNonEthereum.linkFee}</td>
        <td>{restMechanismNonEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>From: Ethereum</td>
        <td>{restFromEthereum.linkFee}</td>
        <td>{restFromEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>To: Ethereum</td>
        <td>{restToEthereum.linkFee}</td>
        <td>{restToEthereum.gasTokenFee}</td>
      </tr>
      <!-- Messaging -->
      <tr>
        <td rowspan="2">Messaging</td>
        <td rowspan="2">N/A</td>
        <td>Non-Ethereum</td>
        <td>{messagingFeesNonEthereum.linkFee}</td>
        <td>{messagingFeesNonEthereum.gasTokenFee}</td>
      </tr>
      <tr>
        <td>From/To: Ethereum</td>
        <td>{messagingFeesFromToEthereum.linkFee}</td>
        <td>{messagingFeesFromToEthereum.gasTokenFee}</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
    white-space: nowrap;
  }
</style>
