---
import CardLink from "./CardLink.astro"
import styles from "./cards.module.css"
import { ICard } from "./types"

type Props = ICard

const { title, description, links } = Astro.props
---

<div class={styles.card}>
  <p class={styles.cardTitle}>{title}</p>
  <p>{description}</p>
  <div class={styles.links}>
    {links && links.map((l) => <CardLink link={l} />)}
  </div>
</div>
