---
import MoreMenu from "../RightSidebar/MoreMenu.astro"
import TableOfContents from "../RightSidebar/TableOfContents"
import WhatsNext from "./WhatsNext.astro"
const { content, githubEditUrl, headings } = Astro.props
const title = content.title
const whatsNext = content.whatsnext
---

<article id="article" class="content">
  <section class="main-section">
    <h1 class="content-title" id="overview">{title}</h1>
    <nav class="block sm:hidden">
      <TableOfContents client:media="(max-width: 50em)" {headings} />
    </nav>
    <slot />

    <slot name="after-content" />
    {whatsNext && <WhatsNext content={whatsNext} />}
  </section>
  <nav class="block sm:hidden">
    <MoreMenu editHref={githubEditUrl} />
  </nav>
</article>

<style>
  .content {
    padding: 0;
    /* max-width: 75ch; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content > section {
    margin-bottom: 4rem;
  }

  .block {
    display: block;
  }

  @media (min-width: 50em) {
    .sm\:hidden {
      display: none;
    }
  }
</style>

<script>
  // Wrap sections in <section> tags
  // Allows us to create sticky headers
  const wrapChildren = (children: NodeListOf<Element>, nodeName: string) => {
    const wrappers: HTMLElement[] = []
    for (var i = 0; i < children.length; i++) {
      if (children[i].nodeName === nodeName) {
        const wrapper = document.createElement("section")
        wrapper.id = children[i].id
        children[i].parentNode!.insertBefore(wrapper, children[i])
        wrapper.appendChild(children[i])
        for (var j = i + 1; j < children.length; j++) {
          if (children[j].nodeName === nodeName || children[j].nodeName === "SECTION") {
            break
          }
          wrapper.appendChild(children[j])
        }
        i = j - 1
        wrappers.push(wrapper)
      }
    }
    return wrappers
  }
  const children = document.querySelectorAll(".main-section > *")
  const wrappers = wrapChildren(children, "H2")
  wrappers.forEach((wrapper) => {
    const e = document.querySelectorAll(`#${wrapper.id} > *`)
    wrapChildren(e, "H3")
  })
</script>
