---
import { Code } from 'astro/components';
import fs from 'node:fs/promises';
import path from 'node:path';

const { src, lang } = Astro.props;
const url = new URL(Astro.request.url);
console.log(url);
// const data = await (await fetch(`${url.origin}${src}`)).text()
const data = await fs.readFile(path.join(process.cwd(), "public", src), 'utf-8');

---

<script is:inline>
    function onClick(params) {
        console.log("click");
    }
</script>

<Code code={data.toString()} lang={lang} />
<div class="remix-callout">
    <a href="#" onclick={`window.open('https://remix.ethereum.org/#url=${window.location.origin}${src}')`}
        target="_blank">Open in
        Remix</a>
    <!-- <a href={`https://remix.ethereum.org/#url=${url.origin}${src}`} target="_blank">Open in Remix</a> -->
    <a href="/docs/conceptual-overview/#what-is-remix">What is Remix?</a>
</div>