---
import HeadCommon from "~/components/HeadCommon.astro"
import HeadSEO from "~/components/HeadSEO.astro"
import StructuredData from "~/components/StructuredData.astro"
import Header from "~/components/Header/Header.astro"
import { NewsletterCTA } from "~/components/Footer/NewsletterCTA"
import Footer from "~/components/Footer/Footer.astro"
import { Metadata, QuickstartsFrontmatter } from "~/content.config.ts"
//

interface Props {
  title: string
  metadata?: Metadata
  quickstartFrontmatter?: QuickstartsFrontmatter
  pageTitle?: string
  howToSteps?: { name: string; slug: string }[]
  structuredData?: object | object[]
  suppressDefaultStructuredData?: boolean
}
const { title, metadata, quickstartFrontmatter, pageTitle, howToSteps, structuredData, suppressDefaultStructuredData } =
  Astro.props
const canonicalURLStr = new URL(Astro.url.pathname, Astro.site).href.replace(/\/+$/, "")
const canonicalURL = new URL(canonicalURLStr)
---

<html dir="ltr" lang="en-us" class="initial" transition:animate="none">
  <head>
    <HeadCommon {title} />
    <HeadSEO
      metadata={metadata}
      {canonicalURL}
      quickstartFrontmatter={quickstartFrontmatter}
      {pageTitle}
      howToSteps={howToSteps}
      suppressDefaultStructuredData={suppressDefaultStructuredData}
    />
    {structuredData && <StructuredData data={structuredData} />}
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <NewsletterCTA client:visible />
    <Footer />
  </body>
</html>
