---
import HeadCommon from "~/components/HeadCommon.astro"
import HeadSEO from "~/components/HeadSEO.astro"
import Header from "~/components/Header/Header.astro"
import PageContent from "~/components/PageContent/PageContent.astro"
import LeftSidebar from "~/components/LeftSidebar/LeftSidebar.astro"
import RightSidebar from "~/components/RightSidebar/RightSidebar.astro"
import * as CONFIG from "~/config"
import { NewsletterCTA } from "~/components/Footer/NewsletterCTA"
import Footer from "~/components/Footer/Footer.astro"
import type { BaseFrontmatter } from "~/content/config"
import WhatsNext from "~/components/PageContent/WhatsNext.astro"
import type { MarkdownHeading } from "astro"
import StickyHeader from "~/components/StickyHeader/StickyHeader"

interface Props {
  frontmatter: BaseFrontmatter
  headings?: MarkdownHeading[]
}
const { frontmatter, headings } = Astro.props

const titleHeading: MarkdownHeading = {
  text: frontmatter.title,
  slug: "overview",
  depth: 1,
}

const filteredHeadings = headings?.filter((h) => h.depth < 5)
const initialHeadings = [titleHeading].concat(filteredHeadings ?? [])

const whatsNext = frontmatter.whatsnext

const currentPage = new URL(Astro.request.url).pathname

const currentFile = `src/content${currentPage.replace(/\/$/, "")}${frontmatter?.isIndex ? "/index" : ""}.mdx`
const githubEditUrl = CONFIG.GITHUB_EDIT_URL + currentFile
const formattedContentTitle = frontmatter.title
  ? `${frontmatter.title} | ${CONFIG.SITE.title}`
  : `${CONFIG.PAGE.titleFallback} | ${CONFIG.SITE.title}`

const canonicalURLStr = new URL(Astro.url.pathname, Astro.site).href.replace(/\/+$/, "")
const canonicalURL = new URL(canonicalURLStr)

const includeLinkToWalletScript = !!Astro.props?.frontmatter?.metadata?.linkToWallet
---

<html dir="ltr" lang="en-us" class="initial">
  <head>
    <HeadCommon />
    <HeadSEO metadata={frontmatter.metadata} {canonicalURL} />
    <title>{formattedContentTitle}</title>
    <style>
      html {
        scroll-behavior: smooth;
      }

      .layout {
        display: grid;
        grid-template-columns: auto;
        --gutter: var(--space-6x);
        --doc-padding: 2rem;
        margin-bottom: 0;
      }

      #grid-left {
        display: none;
      }

      #grid-right {
        padding: var(--doc-padding) var(--gutter);
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space-10x);
        min-width: 0;
      }

      @media (min-width: 50em) {
        main {
          display: grid;
          grid-template-columns: auto fit-content(100%) auto;
          margin-bottom: 0 !important;
        }

        .layout {
          grid-template-columns: auto auto;
          gap: var(--gutter);
          max-width: 1440px;
        }

        #grid-left,
        #left-bg {
          background: #fafbfd;
        }

        #grid-left,
        #grid-right {
          display: flex;
        }

        #grid-left {
          width: 260px;
          padding-left: var(--space-8x);
        }

        #grid-right {
          /* width: 283px; */
          padding-right: var(--space-4x);
          /* opacity: 0;
          transform: translateX(100%);
          transition: transform 400ms ease-in-out, opacity 400ms ease-in-out; */
        }
      }

      @media (min-width: 992px) {
        .layout {
          gap: var(--doc-padding);
        }

        #grid-left {
          width: 285px;
          padding-left: var(--space-16x);
        }

        #grid-right {
          /* width: 315px; */
          padding-right: var(--space-16x);
          /* opacity: 1;
          transform: translate(0); */
        }
      }
    </style>
    <script>
      import "../scripts/index"
    </script>
    <script define:vars={{ includeLinkToWalletScript }}>
      window.includeLinkToWalletScript = includeLinkToWalletScript
    </script>
  </head>

  <body>
    <Header section={frontmatter.section} />
    <StickyHeader client:media="(max-width: 50em)" {initialHeadings} />
    <main>
      <div id="left-bg"></div>
      <div class="layout">
        <aside id="grid-left" aria-labelledby="grid-left" title="Site Navigation">
          <LeftSidebar currentPage={currentPage} section={frontmatter.section} />
        </aside>
        <div id="grid-right" aria-labelledby="grid-right" title="Page Contents">
          <RightSidebar {githubEditUrl} headings={initialHeadings} />
          <PageContent {titleHeading}>
            <slot />
          </PageContent>
          {whatsNext && <WhatsNext content={whatsNext} />}
        </div>
      </div>
      <div hidden="true"></div>
    </main>
    <NewsletterCTA client:visible />
    <Footer />

    <script>
      if (window["includeLinkToWalletScript"]) {
        import("../scripts/link-to-wallet")
      }
    </script>
  </body>
</html>
